.about_us
{
    
    background:url("../image/office-820390_1920.jpg")no-repeat center center fixed;
    width: 100%;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    min-height: 540px;
    position: relative;
}

.about_us .ab 
{
    background: rgba(3, 3, 3,0.33);
    color: #fff;
    min-height: 540px;
    padding-top: 40px;
    padding-bottom: 40px;
   
}
 .about_us .container h5 
{
     font-size: 68px;
     margin-top: 76px;
     font-family: 'Dancing Script', cursive;
     font-family: 'Orbitron', sans-serif;
     font-family: 'Oswald', sans-serif;
     font-family: 'Vollkorn', serif;

}

.ab .con_who_we 
{
    text-align: center;
    width: 100%;
    /* position: absolute; */
    /* height: 200px; */
    /* margin:0 auto ; */
    /* top: 50%;s */
    /* left: 26%; */
}
.ab .con_who_we .container 
{
    /* position: absolute; */
    /* top: 232px ; */
    /* 781px في حال وجود coracel */
    /* left: 310px; */
    /* left: 26%; */
    /* background-color: #EEE; */
     padding-top: 10px;
     border: 3px solid #339BE6;
     border-radius: 10%;
     width: 71%;
     background: rgba(3, 3, 3,0.63);
}

 .ab .container .lead
{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Amiri', serif; */
    font-size: 22px;
}

 /* Start Featuers */

.Featuers {background-color: #eeeeee;padding: 20px; min-height: 280px;}

.Featuers h1 
{ 
    /* margin-bottom: 2.5rem; */
    font-family: 'Vollkorn', serif;
    font-size: 53px;
    font-weight: bold;
} 
.Featuers hr 
{
    width: 20%;
    border: 1px solid black;
    margin-top: 0px;
}
.Featuers .d1 {margin-top: 2.5rem;}

.Featuers .feat p {line-height: 2em;}

.Featuers .feat svg 
{
   width: 30px;
   height: 30px;
   margin-bottom: 10px;
}
.Featuers .feat i
{color: #339BE6;}

.Featuers .feat h4
{
    font-family: 'Amiri', serif;
    font-size: 30px;
}